.hospital-main{
    height: 80vh;
    width: 100%;
    background:transparent;
    position: relative;
    background-size: cover;
    top: 4vh;
   
   
}
.hospital-main::-webkit-scrollbar {
    display: none;
  }


.hospital-main>h2{
    position: absolute;
    top: 22%;
    left: 43%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hospital-main>h2::first-letter{
    color: red;
}

.hospital-main>select{
    position: absolute;
    height: 30px;
    width: 150px;
    overflow: scroll;
    left: 8%;
    top: 24%;
    background-color: rgba(120, 170, 177, 0.842);
    color: rgb(5, 5, 5);
    font-weight: 500;
}



.hos-card-main{
    position: absolute;
    top: 35%;
    height: 54vh;
    width: 100%;
    background-color: transparent;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    
    
} 
.hos-card-main::-webkit-scrollbar {
    display: none;
  }

.hos-card{
    position: relative;
    margin-top: 4%;
    margin-left: 4%;
    height: 40vh;
    width: 45vw;
    background-color: transparent;
    border-radius: 0px;
    box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.432);

}

.hos-card>h5{
    padding-top: 7px;
    margin-top: 0px;
    margin-left: 45%;
    font-size: .8rem;
    font-weight: 500;
    font-family: sans-serif;
    
}

.card1{
    position: absolute;
    top: 0px;
    height: 40vh;
    width: 20vw;
    background-color: teal;
}

.card1>h3{
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Verdana;
    padding-left: 0px;
}

.card1>h4{
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    text-align: center;
    
}

.card1>h6{
    margin-top: 15px ;
    text-align: left;
    font-size: .7rem;
    text-align: center;
}

.selectPlease{
    position: absolute;
    height: 22rem; 
    left: 38%;

}
.selectPlease>img{
    height: 250px;
    margin-left: 10%;
    margin-bottom: 40px;
}
.selectPlease>h2{
    color: red; 
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width:842px){
    .hos-card{
        width: 100%;
    }
    .card1{
        width: 40%;
    }
    .hos-card>h5{
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 10px;
    }
    .card1>h3{
        font-size: 1.6rem;
        text-align: center;
    }
    .card1>h4{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 20px;
    }
    .card1>h6{
        font-size: 1.4rem;
        text-align: center;
        margin-top: 50px;
    }


}

