.med-main{
    height: 85vh;
    width: 100%;
    background-color:transparent;
    position: relative;
    background-size: cover;
    overflow: scroll;
    
   
}
.med-main::-webkit-scrollbar {
    display: none;
}

.med-head-select{
    position: relative;
    top: 13.5vh;
    height: 12vh;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

.med-head-select>select{
    position: absolute;
    height: 30px;
    width: 150px;
    overflow: scroll;
    left: 12%;
    top: 22%;
    background-color: rgba(233, 236, 236, 0.842);
    color: rgb(5, 5, 5);
    font-weight: 500;
}

.med-head-select>h2{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.med-head-select>h2::first-letter{
    color: red;
}



/* card1*/

.medi-card-main{
    position: absolute;
    top: 30%;
    height: 60vh;
    width: 100%;
    background-color:transparent;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.medi-card-main::-webkit-scrollbar {
    display: none;
}

.medi-card1{
    position: relative;
    height: 59vh;
    width: 25vw;
    margin-top: 2%;
    margin-left: 7%;
    border-radius: 45%;
    background-color: transparent;
    box-shadow:2px 2px 4px 1px rgba(0,0,0,0.8);
    overflow: hidden;
}

.top-curve1{
    height: 26vh;
    width: 25vw;
    position: relative;
    background-color: rgb(207, 13, 13);
}

.top-curve1>h2{
    position: absolute;
    top: 30%;
    left: 17%;
    font-size: .9rem;
    font-weight: 700;
    color: white;
    flex-wrap: wrap;
}

.top-curve1>h5{
    position: absolute;
    top: 55%;
    left: 12%;
    font-size: .6rem;
    font-weight: 500;
    color: white;
}

.medi-card1>h4{
    text-align: center;
    font-size: .6rem;
    font-weight: 600;
    font-family: sans-serif;
    color: red;
}


.selectPlease{
    position: absolute;
    height: 22rem; 
    left: 40%;

}
.selectPlease>img{
    height: 250px;
    margin-left: 10%;
    margin-bottom: 40px;
}
.selectPlease>h2{
    color: red;
    margin-top: 30px;
    text-align: center;
}