.med-main{
    height: 85vh;
    width: 100%;
    background-color:transparent;
    position: relative;
    background-size: cover;
    overflow: scroll;
    
   
}
.med-main::-webkit-scrollbar {
    display: none;
}

.med-head-select{
    position: relative;
    top: 13.5vh;
    height: 12vh;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

.med-head-select>select{
    position: absolute;
    height: 30px;
    width: 150px;
    overflow: scroll;
    left: 12%;
    top: 22%;
    background-color: rgba(233, 236, 236, 0.842);
    color: rgb(5, 5, 5);
    font-weight: 500;
}

.med-head-select>h2{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.med-head-select>h2::first-letter{
    color: red;
}



/* card1*/

.medi-card-main{
    position: absolute;
    top: 30%;
    height: 60vh;
    width: 100%;
    background-color:transparent;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.medi-card-main::-webkit-scrollbar {
    display: none;
}

.medi-card1{
    position: relative;
    height: 59vh;
    width: 25vw;
    margin-top: 2%;
    margin-left: 7%;
    border-radius: 45%;
    background-color: transparent;
    box-shadow:2px 2px 4px 1px rgba(0,0,0,0.8);
    overflow: hidden;
}

.top-curve1{
    height: 26vh;
    width: 25vw;
    position: relative;
    background-color: rgb(207, 13, 13);
 
    
    padding-top: 40px;
    padding-left: 70px;
}

.top-curve1>h2{
    
   
    
    font-size: 1rem;
    font-weight: 700;
    color: white;
    width: 200px;
    
    overflow-wrap: break-word;
    text-align: center;
}

.top-curve1>h5{
   
    margin-top: 20px;
    width: 200px;
    overflow-wrap: break-word;
    font-size: .9rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.medi-card1>h4{
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    font-family: sans-serif;
    color: red;
    margin-top: 10px;
}


.selectPlease{
    position: absolute;
    height: 22rem; 
    left: 40%;

}
.selectPlease>img{
    height: 250px;
    margin-left: 10%;
    margin-bottom: 40px;
}
.selectPlease>h2{
    color: red;
    margin-top: 30px;
    text-align: center;
}
@media only screen and (max-width:842px){
    .med-head-select{
        top: 20%;

    }
    .medi-card1{
        width: 90%;
    }
    .top-curve1{
        width: 100%;
        padding-left: 20px;
        text-align: center;
    }
    .top-curve1>h2{
        font-size: 1.5rem;
        width: 300px;
        margin-top: 30px;
        margin-left: 40px;
        overflow-wrap: break-word;
        text-align: center;
    }
    .top-curve1>h5{
        font-size: 1.1rem;
        width: 300px;
        margin-left: 50px;
    }
    .medi-card1>h4{
        font-size: 1rem;
        margin-top: 10px;
    }
    
    .med-head-select>h2{
        margin-top: -40px;
        margin-left: -30px;
    }
}