.amb-main{
    height: 80vh;
    width: 100%;
    background-color:transparent;
    position: relative;
    background-size: cover;

}


.amb-main>select{
    position: absolute;
    height: 30px;
    width: 150px;
    overflow: scroll;
    left: 8%;
    top: 22%;
    background-color: rgba(233, 236, 236, 0.842);
    color: rgb(5, 5, 5);
    font-weight: 500;
}

.amb-main>h2{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.amb-main>h2::first-letter{
    color: red;
}



/* images*/





.img-one>img{
    position: absolute;
    height: 22vh;
    width: 90vw;
    top: 25vh;
    left: 5%;
}



/* card*/



.amb-card-main{
    position: absolute;
    top: 59%;
    height: 38vh;
    width: 100%;
    background-color:transparent;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.amb-card-main::-webkit-scrollbar {
    display: none;
  }


.amb-card{
    position: relative;
    margin-top: 30px;
    margin-left: 8.5%;
    height: 35vh;
    width: 23vw;
    background-color:transparent;
    box-shadow:2px 2px 4px 1px rgba(0,0,0,0.8);
    
}

.amb-card>h4{
    position: absolute;
    margin-top: 0px;
    font-size: .9rem;
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 3px;
}

.amb-sec1{
   
    height: 20vh;
    width: 23vw;
    background-color: teal;
}
.amb-sec1>h3{
    padding-top: 5px;
    margin-left: 65px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(2, 2, 2);
}
.amb-sec1>h4{
    padding-top: 1px;
    margin-left: 70px;
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(12, 12, 12);
}