.amb-main{
    height: 80vh;
    width: 100%;
    background-color:transparent;
    position: relative;
    background-size: cover;

}
.head-select{
    position: relative;
    top: 13vh;
    height: 12vh;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

.head-select>select{
    position: absolute;
    height: 30px;
    width: 150px;
    overflow: scroll;
    left: 10%;
    top: 25px;
    background-color: rgba(233, 236, 236, 0.842);
    color: rgb(5, 5, 5);
    font-weight: 500;
}

.head-select>h2{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.head-select>h2::first-letter{
    color: red;
}













/* card*/



.amb-card-main{
    position: absolute;
    top: 32%;
    height: 60vh;
    width: 100%;
    background-color:transparent;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.amb-card-main::-webkit-scrollbar {
    display: none;
  }


.amb-card{
    position: relative;
    margin-top: 30px;
    margin-left: 8.5%;
    height: 53vh;
    width: 310px;
    background-color:transparent;
    box-shadow:2px 2px 4px 1px rgba(0,0,0,0.8);
    
}

.amb-card>h4{
    position: absolute;
    margin-top: 0px;
    font-size: .9rem;
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 3px;
    padding-top: 25px;
}

.amb-sec1{
   
    height: 25vh;
    width: 100%;
    background-color: teal;
}
.amb-sec1>h3{
   text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(2, 2, 2);
    padding-top: 25px;
}
.amb-sec1>h4{
    padding-top: 15px;
    font-size: .9rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(12, 12, 12);
    text-align: center;
}

.selectPlease{
    position: absolute;
    height: 22rem; 
    left: 40%;

}
.selectPlease>img{
    height: 250px;
    margin-left: 10%;
    margin-bottom: 40px;
}
.selectPlease>h2{
    color: red;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width:842px){
    .head-select{
        top: 24%;
    }
    
    .amb-card{
        width: 80%;
       
    }
    .amb-card>h4{
        font-size: 1.1rem;
        text-align: center;
        margin-top: 10px;
        width: 300px;
        overflow-wrap: break-word;
    }
    .amb-sec1>h3{
        font-size: 1.8rem;
        text-align: center;
    }
    .amb-sec1>h4{
        font-size: 1.3rem;
        text-align: center;
    }
    .head-select>h2{
        margin-top: -50px;
        margin-left: -50px;
    }

}